body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    background: #001821;
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

a {
    display: inline-block;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4 {
    margin: 0;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

.body, html {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    min-width: 1200px;
}

.main-page-wrapper {
    background: url("./img/background_1.png") center top no-repeat, url("./img/background_2.png") right bottom no-repeat;
}

/* header */
.container {
    margin: 0 auto;
    width: 1140px;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 533px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 127px;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right {
    justify-content: flex-end;
}

.logo {
    display: block;
    margin-right: 79px;
}

.logo__img {
    width: 85px;
    height: 36px;
}

.menu__list {
    display: flex;
}

.menu__item {
    margin-right: 54px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease-out;
}

.menu__link:hover {
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    color: #DA0100;
}

.contacts {
    font-style: normal;
    text-align: right;
}

.contacts__phone {
    font-size: 26px;
    text-decoration: none;
}

.dropdown {
    position: relative;
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease-out;
}

.dropdown__link {
    font-size: 13px;
    text-decoration-line: underline;
}

.dropdown:hover {
    color: #DA0100;
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease-out;
}

.dropdown:hover .dropdown__menu {
    display: block;
    opacity: .8;
}

.dropdown__menu {
    position: absolute;
    display: none;
    background: #ededed;
    border-radius: 5px;
    padding: 15px 19px ;
    width: 160px;
    left: 32px;
    bottom: -73px;
    opacity: 0;
}

.dropdown__menu::after {
    content: ''; 
    position: absolute;
    left: 99px;
    bottom: 67px;
    border: 9px solid transparent;
    border-bottom: 9px solid #ededed;
}

.dropdown__item {
    color: #1e1f20;
    font-size: 13px; 
    font-weight: 600;
}

.dropdown__item--bold {
    font-weight: 700;
}

/* hello */

.hello__text-section {
    width: 45%;
    margin-bottom: 246px;
}

.hello__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 1.3;
    margin-bottom: 33.5px;
}

.hello__subtitle {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
}

.button {
    padding: 18px 40px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    transition-property: background, color;
    transition-duration: .7s;
    transition-timing-function: ease-out;
    background: #F5170E;
    border-radius: 35px;
    border: 1px solid #F5170E;
    color: #fff;
    cursor: pointer;
}

.button--offer {
    padding: 18px 30px;
}

.button:hover {
    transition-property: background, color;
    transition-duration: .7s;
    transition-timing-function: ease-out;
    background: #fff;
    color: #F5170E;
    border: 1px solid #F5170E;
} 

.button--light {
    background: #fff;
    color: #F5170E;
    border: 1px solid #F5170E;
}

.button--light:hover {
    background: #F5170E;
    color: #fff;
    border: 1px solid #F5170E;
}

/* offers */
.offers {
    margin-bottom: 121px;
}

.title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 46px;
}

.title--fire:after {
    content: url("./img/flame.png");
    margin-left: 12px;
    height: 28px;
}

.offers__list {
    display: flex;
    justify-content: space-between;
}

.offers__item {
    width: calc(100% / 3 - 18px);
    
}

.offers__item:last-child {
    margin-right: 0;
}

.offer {
    min-height: 449px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.offer__header {
    min-height: 144px;
}

.offer__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 36px 42px 26px 22px ;
}

.offer__title {
    font-weight: 700;
    font-size: 24px;
    color: #000;
    margin-bottom: 19px;
}

.offer__features {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
}

.offer__feature {
    display: flex;
    justify-content: space-between;
}

.offer__feature-icon {
    margin-right: 9px;
}

.offer__feature-text {
    color: #666;
    margin-right: 25px;
}

.offer__text {
    font-size: 14px;
    color: #303030;
    width: 324px;
    margin-bottom: 23px;
}

.offer__button-wrapper {
    display: flex;
    margin-top: auto;
}

/* news */
.news {
    margin-bottom: 124px;
}

.news__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

.single-news {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.news__item {
    height: 394px;
    flex: 1;
    margin-right: 2%;
}

.news__item:last-child {
    margin-right: 0;
}

.single-news__cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .9;
}

.single-news__data {
    font-size: 14px;
    margin-bottom: 12px;
}

.single-news__text-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 32px;
    min-height: 217px;
}

.single-news__title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 4px;
    padding-top: 14px;
}

.pager {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53px;
}

.pager--theme--dark {
    color: #000;
    padding-bottom: 90px;
}

.pager--theme--dark .pager__item--active .pager__link{
    color: #fff;
    background: #F5170E;
}

.pager--theme--dark .pager__link:hover {
    color: #fff;
    background: #F5170E;
}

.pager__display {
    margin-right: 25px;
}

.pager__list {
    display: flex;
    align-items: center;
}

.pager__item {
    text-align: center;
}

.pager__link {
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-weight: 700;
    text-decoration: none;
    line-height: 32px;
    transition-property: background, color;
    transition-duration: .3s;
    transition-timing-function: ease-out;
}

.pager__item--active .pager__link {
    background: #fff;
    color: #F5170E;
}

.pager__link:hover {
    transition-property: background, color;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    background: #fff;
    color: #F5170E;
}

/* about */
.about {
    margin-bottom: 43px;
}

.about__container {
    position: relative;
    height: 563px;
}

.about__content {
    position: absolute;
    right: 0;
    bottom: 0;
    background: url(./img/mountains.png);
    width: 785px;
    height: 455px;
    padding: 70px 202px 66px 81px;
}

.about__title {
    font-weight: 700;
    font-size: 36px;
    color: #000;
    margin-bottom: 36px;
}

.about__text {
    color: #060606;
    margin-bottom: 42px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

/* footer */
.footer-container {
    margin-top: auto;
}
.footer-container__section {
    height: 92.64px;
    margin-top: 12px;
    padding-top: 59px;
    margin-bottom: 57px;
}

.footer-container--content {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.footer__col {
    display: flex;
}

.footer__col--align--left {
    align-items: flex-end;
}

.social {
    display: flex;
    justify-content: space-between;
    margin-right: 64px;
}

.social__link {
    text-decoration: none;
    display: block;
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.social__img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.social__img--telegram {
    background: url("./img/sprites.png") -178px -10px;
}

.social__img--telegram:hover {
    background: url("./img/sprites.png") -234px -10px;
}

.social__img--vk {
    background: url("./img/sprites.png") -290px -10px;
}

.social__img--vk:hover {
    background: url("./img/sprites.png") -346px -10px;
}

.social__img--f {
    background: url("./img/sprites.png") -10px -10px;
}

.social__img--f:hover {
    background: url("./img/sprites.png") -66px -10px;
}

.social__img--in {
    background: url("./img/sprites.png") -122px -10px;
}

.social__img--in:hover {
    background: url("./img/sprites.png") -122px -10px;
    filter: brightness(2);
}

.contacts__desc {
    font-size: 11px;
}

/* services page */
.service-page-wrapper {
    background: #001821 url("./img/headline_1.png") center top no-repeat;
}
.top__line {
    min-height: 412px;
    display: flex;
    flex-direction: column;
}

.top-line__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}


.page-title {
    font-size: 72px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 87px;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
    padding-bottom: 14px;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.breadcrumbs__item::after {
    content: "/";
    color: #9A9A9A;
    margin-left: 5px;
}

.breadcrumbs__item:last-child::after {
    display: none;
}

.breadcrumbs__link {
    color: #9A9A9A;
    font-size: 14px;
}

.breadcrumbs__link--active {
    font-weight: 700;
}

.services {
    background: #fff;
    color: #303030;
    padding-top: 129px;
}

.service {
    display: flex;
    margin-bottom: 56px;
}

.service__img {
    width: 39%;
    margin-right: 5%;
}

.service__content {
    flex: 1;
}

.service__title {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    margin-bottom: 28px;
}

.service__desc {
    line-height: 27px;
    margin-bottom: 34px;
}

/* section partners */
.inner-section {
    color: #1a1b1e;
    padding-top: 88px;
    padding-bottom: 117px;
}

.inner-section--bg--grey {
    background: #f4f5f5;
}

.inner-section__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 79px;
}
.partners {
    display: flex;
    flex-wrap: wrap;
}

.partners__item {
    margin-left: 46px;
}

.partners__item:nth-child(4n + 1) {
    margin-left: 0;
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 230px;
    height: 100px;
    align-items: center;
    justify-content: center;
    transition-property: filter;
    transition-duration: .7s;
    transition-timing-function: ease-out;
    filter: grayscale(100%);
}

.partners__link:hover {
    transition-property: filter;
    transition-duration: .7s;
    transition-timing-function: ease-out;
    filter: grayscale(0);
}

.inner-footer__container {
    padding-top: 48px;
    padding-bottom: 42px;
}

.inner-footer {
    margin-top: auto;
}

/* review page */

.maincontent {
    background: #f4f5f5;
}

.reviews__list {
    column-count: 2;
    column-gap: 27px;
    margin-top: 96px;
    margin-bottom: 71px;
}

.reviews__item {
    margin-bottom: 17px;
}

.review {
    display: inline-flex;
    flex-direction: column;
    padding: 50px 31px 33px;
    background: #f2f2f2;
    border-radius: 5px;
}

.review__header {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}

.review__user {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 3px;
    cursor: pointer;
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    color: #1a1b1e;
}

.review__user:hover {
    text-decoration: underline;
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    color: #2e77a4;
}

.review__user:after {
    content: url("./img/vk_blue.png");
    height: 30px;
    margin-left: 7px;
}

.avatar {
    width: 142px;
    height: 142px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 22px;
}

.review__tags {
    display: flex;
    align-items: flex-start;
}

.tag {
    font-size: 13px;
    color: #303030;
    font-weight: 400;
    border-radius: 35px;
    background: #e7e7e7;
    padding: 9px 17px 10px 18px;
}

.tag--bg--green {
    background: #b9eae4;
}

.review__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    color: #1a1b1e;
    margin-bottom: 13px;
}

.review__content-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #818181;
    margin-bottom: 49px;
}

.review_date {
    font-size: 14px;
    font-weight: 600;
    line-height: 27px;
    color: #1a1b1e;
}

.separator {
    min-height: 363px;
    background: url("./img/rectangle.png") center top no-repeat;
    
}

.separator__content {
    display: flex;
    align-items: center;
}

.separator__title {
    max-width: 50%;
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
}

.separator__img {
    margin-top: 22px;
}

.form__row {
    display: flex;
    margin-bottom: 26px;
}

.form__input {
    flex: 1;
    margin-right: 28px;
    border: 1px solid transparent;
    border-radius: 5px;
    background: #fff;
    padding: 20px 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #1a1b1e;
}

.form__input:hover {
    border: 1px solid #f5170e;
}

.form__input:focus {
    border: 1px solid #f5170e;
}

.form__input::placeholder {
    color: #666;
}

.form__input:last-child {
    margin-right: 0;
}

.form__input--textarea {
    max-height: 235px;
}

.form__controls {
    display: flex;
    margin-bottom: 32px;
}

.form__controls-title {
    width: 32%;
}

.controls {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.controls__item {
    margin-right: 21px;
    margin-bottom: 9px;
}

.controls__item:last-child {
    margin-right: 0;
}

.controls__elem {
    cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag {
    background: #b9eae4;
}

.controls__checkbox {
    display: none;
}

.form__buttons {
    display: flex;
    justify-content: end;
}

.button--black {
    color: #fff;
    background: #8e8e8e;
    border: 1px solid #8e8e8e;
}

.button--black:hover {
    color: #fff;
    background: #2b2b2b;
    border: 1px solid #2b2b2b;
}

.form__button {
    margin-right: 17px;
}

.form__button:last-child {
    margin-right: 0;
}

/* welcome page */

.welcome {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url("./img/shades.png") center center no-repeat, url("./img/bg.png") center center no-repeat;
}

.central {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: zoom .9s ease-in;
    opacity: 0;
    animation-fill-mode: forwards;
}

.central__logo {
    width: 279px; 
    height: 119px;
}

.central__subtitle {
    font-size: 18px;
    margin-bottom: 53px;
}

.button--welcome {
    padding: 18px 58px;
}

@keyframes zoom {
    from {
        transform: scale(.7);
    }

    20% {
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transform: scale(1.15);
    }

    40% {
        transform: scale(.9);
    }

    60% {
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transform: scale(1.1);
    }

    80% {
        transform: scale(.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
